*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    width: 100%;
   
}

header{
 display: flex;
    height: 5rem;

justify-content: right;
background-color: grey;
align-items: center;
padding: 10px;
position: fixed;
width: 100%;
top:0px;
}

header a{
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    

}

header a:hover{
    color: rgb(78, 77, 77);
    background: rgb(22, 22, 22);
    font-size: 16px;
    transform: scale(1.1);
    border-radius: 10px;
    
    transition: transform .5s;


}





nav a{
    
    text-decoration: none;
}

section{    
    border: 20px solid rgb(221, 221, 221);
    height: calc(100vh - 5rem);
   
    padding: 3rem;
}

h2{
    text-align: center;
}

#listas{
    margin-top: 5rem;
}

table, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 0rem 5rem 0rem 5rem;
  }

